Flask==2.0.1
Flask-SocketIO==5.3.4
google-auth==2.17.3
google-auth-oauthlib==1.0.0
google-cloud==0.34.0
google-pasta==0.2.0
gTTS==2.2.3
numpy==1.21.6
oauthlib==3.0.1
openai==0.27.6
packaging==23.1
pipwin==0.5.2
playsound==1.2.2
PyAudio==0.2.13
six==1.16.0
sounddevice==0.4.6
SpeechRecognition==3.8.1
tensorboard==2.11.2
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
tensorflow==2.11.0
tensorflow-estimator==2.11.0
tensorflow-intel==2.11.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.3.0
tokenizers==0.13.3
transformers==4.28.1

